<div id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">
        <app-sidebar></app-sidebar>


        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">
                <app-topbar></app-topbar>


                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Update Product</h1>
                    </div>

                </div>
                <div class="col">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary">Update product's details</h6>
                        </div>

                        <div class="card-body">
                            <form [formGroup]="formUpdateProduct" (ngSubmit)="verif()">
                                <div class="form-group">
                                    <label for="name" id="name">Name : </label>
                                    <input type="text" class="form-control" formControlName="name">
                                    <div *ngIf="name?.touched && name?.invalid">
                                      <small *ngIf="name?.errors?.required" class="text-danger">name is required</small><br>
                                      <small *ngIf="name?.errors?.pattern" class="text-danger">Invalid name</small><br>
                                      <small *ngIf="name?.errors?.minlength" class="text-danger">name must contain twp characters at least</small>
                                    </div>
                                </div>
                                <div>
                                    <div class="form-group">
                                        <label for="description" id="desc">Description : </label>
                                        <input type="text" class="form-control" formControlName="description">
                                        <div *ngIf="description?.touched && description?.invalid">
                                          <small *ngIf="description?.errors?.required" class="text-danger">description is required</small><br>
                                          <small *ngIf="description?.errors?.minlength" class="text-danger">description must contain six characters at least</small>
                                        </div>
                                </div>
                                <div class="form-group">
                                    <label for="price" id="price">Price : </label>
                                    <input type="number" class="form-control" formControlName="price">
                                    <div *ngIf="price?.touched && price?.invalid">
                                      <small *ngIf="price?.errors?.required" class="text-danger">price is required</small><br>
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <label for="photo" id="image">Image : </label>
                                    <input type="file" class="form-control-file" formControlName="image">
                                  <div *ngIf="image?.touched && image?.invalid">
                                    <small *ngIf="image?.errors?.required" class="text-danger">image is required</small><br>
                                  </div>
                                </div>
                                <div class="form-group">
                                    <label for="category" id="category">Category : </label>
                                    <select class="custom-select" formControlName="category">
                                    <option selected>Choose category</option>
                                    <option>Smartphones</option>
                                    <option>Laptops</option>
                                  </select>
                                  <div *ngIf="category?.touched && category?.invalid">
                                    <small *ngIf="category?.errors?.required" class="text-danger">category is required</small><br>
                                  </div>
                            </div>
                                    <button class="btn btn-sm btn-warning mt-3" type="submit" [disabled]="formUpdateProduct.invalid">Update</button>
                                    </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
            <app-footer></app-footer>
        </div>
    </div>