
<div id="page-top"> 
    
    <!-- Page Wrapper -->
 <div id="wrapper">
     <app-sidebar></app-sidebar>

     
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">
            <app-topbar></app-topbar>

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                  <h1 class="h3 mb-0 text-gray-800">Studuents Management</h1>
                </div>
               
      
              </div>
              <div class="col ml-2">
                <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Studuents List</h6>
              </div>
    
              <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Account state</th>
                            <th>#</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let st of list_students;let i=index">
                            <td class="align-middle">{{i+1}}</td>
                            <td class="align-middle">{{st.firstname}}</td>
                            <td class="align-middle">{{st.lastname}}</td>
                            <td class="align-middle">{{st.email}}</td>
                            <td class="align-middle">
                                <div *ngIf="st.accountState==true"class="badge badge-pill badge-success">active</div>
                                <div *ngIf="!st.accountState==true" class="badge badge-pill badge-danger">inactive</div>

                            </td>
                            <td class="align-middle">
                                <button (click)="changeStatus(st)"class="btn btn-sm btn-dark mr-1">
                                    <i class="fas fa-user-lock "></i>
                                </button>
                                <button (click)="deleteStudentById(st)"class="btn btn-sm btn-danger">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
       
        </div>
        </div>
        </div>
        </div>
              <!-- End of Main Content -->

      <!-- Footer -->
      <!-- End of Footer -->
      
    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

